sudo: false
language: ruby
rvm:
  - 2.1.5
services:
  - redis-server
before_script:
  - cp config/variables/travis-ci/* config/variables/
  - psql -c 'create database travis_ci_test;' -U postgres
  - APP_ENV=test bundle exec rake db:migrate
