language: ruby
rvm:
  - 2.1.5
services:
  - redis-server
before_script:
  - cp config/variables/database.yml.travis config/variables/database.yml
  - psql -c 'create database travis_ci_test;' -U postgres
  - APP_ENV=test bundle exec rake db:migrate
